<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biologiemarine.madagascarecotourism">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuideListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="Liste des guides">

        </activity>
        <activity android:name=".GuideDetailsActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:theme="@style/AppTheme" />
        <activity android:name=".Adapter.InfoWindowAdapterActivity" />
        <activity android:name=".HotelListActivity"/>
        <activity android:name=".HotelDescriptionActivity" />
        <activity android:name=".AireListActivity"/>
        <activity android:name=".AreaActivity" />
    </application>

</manifest>